* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fa;
}

figure {
    background-color: white;
}

img {
    line-height: 100%;
    vertical-align: middle;
    margin: 10px auto;
}

h1 {
    display: inline-block;
}

#container {
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 30px;
    border-radius: 10px;
}

#task {
    background-color: #47aceb;
    border-color: #47aceb;
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 40px;
}

#selection {
    background-color: white;
    border-color: grey;
    color: grey;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.titolo {
    font-size: 24px;
    display: inline-block;
    margin-bottom: 10px;

}

.titolo::before {
    content: '\2193';
    font-size: 20px;
    margin-left: 10px;
    vertical-align: middle;
}

.text {
    margin-bottom: 20px;
    font-size: large;
}

p {
    margin-left: 10px;
    margin-bottom: 10px;
}

.blu {
    background-color: #47aceb;
    border-color: #47aceb;
    color: white;
    padding: 6px;
    border-radius: 10px;
    font-size: small;
}

.viola {
    background-color: #9d77e5;
    border-color: #9d77e5;
    color: white;
    padding: 6px;
    border-radius: 10px;
    font-size: small;
}

.verde {
    background-color: #5ebea4;
    border-color: #5ebea4;
    color: white;
    padding: 6px;
    border-radius: 10px;
    font-size: small;
}

.rosa {
    background-color: #dc649e;
    border-color: #dc649e;
    color: white;
    padding: 6px;
    border-radius: 10px;
    font-size: small;
}

.lime {
    background-color: #b1cc2c;
    border-color: #b1cc2c;
    color: white;
    padding: 6px;
    border-radius: 10px;
    font-size: small;
}